---
# Frontmatter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head -->
  {% include head.html %}
</head>

<body>
  <div class="container">
    <!-- Intro -->
    {% include intro.html %}
    <hr>

    <!-- Work -->
    {% include work.html %}
    <hr>

    <!-- Capabilities -->
    {% comment %}
    {% include capabilities.html %}
    {% endcomment %}
    <!-- <hr> -->

    <!-- Calendar -->
    {% comment %}
    {% include calendar.html %}
    {% endcomment %}
    <!-- <hr> -->

    <!-- Testimonials -->
    {%comment%}
    {% include testimonials.html %}
    {%endcomment%}
    <!-- <hr> -->

  </div>
</body>

<footer>
  <!-- Contact -->
  {% include contact.html %}
<footer>

</html>
