<div>
  <a name="capabilities"></a>
  <section style="height: 30vh;padding-top:5vh">
    <h2>Capabilities:</h2>
    <h4>Sometimes the hardest part is knowing where to start.<br>In one meeting I can help you get started on a safe path.</h4><br><br>
  </section>
  <section style="height: 30vh;">
    <ul>
      <li>Automation &amp; Productivity<br><a href=""><i class="fa fa-bolt fa-3x"></i></a></li>
      <li>Project Management<br><a href=""><i class="fa fa-cogs fa-3x"></i></a></li>
      <li>Product Development<br><a href=""><i class="fa fa-mobile fa-3x"></i></a></li>
    </ul>
  </section>
  <section style="height: 30vh;">
    <h4><em>as they say...</em></h4>
    <h3>"Don't get ready. Get <strong>started</strong>."</h3>
  </section>
</div>
