<div class="full-height">
  <a name="capabilities"></a>
  <h2>Capabilities:</h2>
  <h3>Sometimes the hardest part is knowing where to start. Whose internet advice to take, and whose to ignore.<br>In one call I can help you get started on a safe path.</h3>
  <ul>
    <li>Physical Products<br><a href=""><i class="fa fa-cogs fa-3x"></i></a></li>
    <li>Apps &amp; Websites<br><a href=""><i class="fa fa-mobile fa-3x"></i></a></li>
    <li>Novel Ideas<br><a href=""><i class="fa fa-lightbulb-o fa-3x"></i></a></li>
  </ul>
  <h4><em>as they say...</em></h4>
  <h3>"Don't get ready. Get <strong>started</strong>."</h3>
</div>
