<div class="full-height">
<ul class="contact">
  <li>Call<br><a href="tel:865-214-7245"><i class="fa fa-phone fa-2x"></i></a></li>
  <li>Email<br><a href="mailto:daveseeman12@gmail.com?subject=Hi Dave"><i class="fa fa-envelope-o fa-2x"></i></a></li>
  <li>Message<br><a href="http://bit.ly/daveas-linkedin"><i class="fa fa-linkedin fa-2x"></i></a></li>
  <li>Tweet<br><a href="http://bit.ly/daveas-twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
</ul>
<a href="http://daveaseeman.githb.io"><img src="/assets/images/avatar.jpg"></img></a>
</div>
