<div class="full-height">
  <a name="contact"></a>
  <section style="height: 20vh;">
    <ul>
      <li>Call<br><a href="tel:615-944-5829"><i class="fa fa-phone fa-2x"></i></a></li>
      <li>Email<br><a href="mailto:daveseeman12@gmail.com?subject=Hi Dave"><i class="fa fa-envelope-o fa-2x"></i></a></li>
    </ul>
  </section>
  <section style="height: 20vh;">
    <ul>
      <li>Message<br><a href="http://bit.ly/daveas-linkedin"><i class="fa fa-linkedin fa-2x"></i></a></li>
      <li>Tweet<br><a href="http://bit.ly/daveas-twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
    </ul>
  </section>
  <section style="height: 60vh;">
    <a href="mailto:daveseeman12@gmail.com?subject=Hi Dave"><img class="avatar" src="/assets/avatar.jpg"></img></a>
    <p style="text-align:center;">By <a href="http://daveaseeman.github.io"><em>Dave Seeman</em></a></p>
  </section>
</div>
