<div class="full-height">
  <a name="intro"></a>
  <section style="width:50%;min-width:300px;position:absolute;top:20%;left:25%;">
    <a href="mailto:daveseeman12@gmail.com?subject=Hi Dave">
      <img src="/assets/sc_logo.svg"/>
    </a>
  </section>
  <section style="width:50%;min-width:300px;position:absolute;bottom:10%;left:25%;">
    <h3>I like to help people solve problems with technology. I help people evaluate and choose technology, develop a product or process around that technology, and use that product or process to automate their business.</h3>
  </section>
</div>
