<div class="full-height">
  <a name="intro"></a>
  <section style="height: 40vh;">
    <h1>Hi, I'm Dave Seeman</h1>
    <h4><em>and I am...</em></h4><br>
    <a href="mailto:daveseeman12@gmail.com?subject=Hi Dave"><img src="/assets/logo.png"></img></a>
  </section>
  <section style="height: 40vh;">
    <h3>I love making things and being productive.<br>I can help you do both. Just <a href="#contact">contact me</a> to get started.</h3>
    <section style="height: 20vh;">
      <a href="#capabilities"><div class="button">Get Started</div></a>
    </section>
  </section>
</div>
