<script>
setTimeout(function(){
  swal({
    title: "HTML How can we help?",
    text: "Do you need to sell your house?<form><input type="radio" name="browser" onclick="check(this.value)" value="Internet Explorer">Internet Explorer<br><input type="radio" name="browser" onclick="check(this.value)" value="Firefox">Firefox<br><input type="radio" name="browser" onclick="check(this.value)" value="Opera">Opera<br><br></form>",
    type: "info",
    html: true,
    showCancelButton: true,
    confirmButtonText: "Yes",
    cancelButtonText: "No",
    closeOnConfirm: false,
    closeOnCancel: false },
    function(isConfirm){
      if (isConfirm) {
        swal({
          title: "We can help!",
          text: "We have all the information you need, ready to see it?",
          type: "success",
          confirmButtonText: "Show me!",
          cancelButtonText: "No thanks"
        },
        function(){
          window.location.href = '/sell-your-house/';
        });
      }
      else {
        swal({
          title: "That's okay!",
          text: "We'll be here when you need us!",
          type: "error",
          confirmButtonText: "Back to Browsing",
        });
      }
  });
}, 5000);
</script>
