<h3 class="center">Some examples of my work:</h3>
<small class="center">click to see the site</small>
{% assign websites = site.data.websites %}
{% for website in websites %}
<!-- Add or remove "with-glare" class. Removing the glare makes the screen interactive -->
<div id= "content-{{ website.id }}">
<div class="css-mb with-glare">
  <a target="_blank" href="{{ website.url }}">
    <div class="mb-display-position">
      <div class="mb-display">
        <div class="mb-screen-position">
          <div class="mb-screen">
            <img id="{{ website.id }}" src="{{ website.img }}"></img>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="mb-body"></div>
  <div class="mb-bottom-cover"></div>
</div>
</div>
{% endfor %}

<small class="center" style="margin-bottom:25px;">Seemingly Creative is an approved partner with:</small>
<ul class="center inline-list" style="margin-bottom:50px;">
  <li><img src="/assets/ls-partner-badge.png" alt="Seemingly Creative is an approved LemonStand Partner" style="height: 50px;"/></li>
  <li><img src="/assets/shopify-partner.png" alt="Seemingly Creative is an approved Shopify Partner" style="height: 50px;"/></li>
</ul>

<script>
var divs = $('div[id^="content-"]').hide(),
    i = 0;

(function cycle() {

    divs.eq(i).fadeIn(1000)
              .delay(2000)
              .fadeOut(1000, cycle);

    i = ++i % divs.length;
})();
</script>
